.container {
    padding-top: 3em;
}

p {
    margin: 0.75em 0 2em 0;
}

select, option {
    outline: 0px;
}

.repo-badge {
    display: inline-block;
    padding: 0.5em 0.5em;
    line-height: 1;
    cursor: pointer;
}

#pie-chart {
    width: 50vw;
    height: 50vw;
    max-height: 80vh;
}

.spinner-border {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
}

#finished-repo-bar:not(:has(*)), #queued-repo-bar:not(:has(*)) {
    display: none;
}

.ignored-repo {
   opacity: 0.5;
}